* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    background-color: rgba(19, 25, 19, 0.256);
    padding: 15px;
}
body {
    position: relative;
}

/* logo */
.size-logo {
    width: 60px;
}

/*Section avec la banner en fond*/
.menu {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/McDo/images/banner.jpg");
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*container du menu*/

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    width: 80%;
    min-width: 40rem;
}

/*style des boutons*/

.menu-item {
    width: 19%;
    height: auto;
    background-color: rgba(28, 38, 18, 0.746);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: rgb(37, 123, 47);
    transform: scale(1.1);
}

/*taille des icones */
.menu-item img {
    width: 95%;
    height: auto;
    padding: 1rem;
    margin-bottom: 2px;
    border-radius: 15px;
}

/*footer*/
.footer {
    text-align: center;
    padding: 1%;
    background-color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 1.5rem;
    color: green;
}

/***************************************************/


.hiddenmodal{
    display: none !important;
}


#modal1, #modal2 {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100vh;
    background-color: white;
}

.size-img {
    width: 20rem;
    overflow: hidden;
}

#OptionMenus, #OptionBurgers, #OptionPetiteFaim, #OptionBoissons, #OptionDesserts, #OptionEnfants {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    
}

#btnMenu {
    border: none;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    position: relative;
    border-radius: 20px;
}


#btnMenu:hover {
    border: 3px solid green;
    transform: scale(1.1);
}
